.demo {
    border-radius: 50%;
    background-color: pink;
    width: 200px;
    height: 200px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.demo-showing {
    animation: show 0.5s forwards;
}
.demo-fading {
    animation: fade 0.5s forwards;
}

@keyframes show {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes fade {
    from {
        transform: rotate(360deg);
        opacity: 1;
    }
    to {
        transform: rotate(0deg);
        opacity: 0;
    }
}
